.Menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 4rem;
}

.MenuItem {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 21px;

}

.MenuItem:hover{
    background: #7FC7D9;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
