.nav{
    background: rgb(64,64,64,0.15);
    padding: 16px 0;
    box-shadow: 0px 4px 8px rgb(0,0,0,0.3);
    backdrop-filter: blur(25px);
    color: white;
}

#navbarScrollingDropdown{
    color:white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 24px;
}
.link.active{
    color: #00ffffe0 !important;
}
.textp{
    color:white !important;

}