.new {
    width: 100%;
    display: flex;
}

.newContainer {
    flex: 6;
}

.top,
.bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

.hhh {
    color: lightgray;
    font-size: 20px;
}

.left {
    flex: 1;
    text-align: center;
}

.imgs {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-left: 100px;
    margin-top: 30px; */
}


.right {
    flex: 2;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.formInput {
    width: 40%;
}

.lab {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
    cursor: pointer;
}


.inputs {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}


.butt {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}